{% extends 'base.html' %}

{% block content %}

<h1>
    Resultados para: "{{ termo }}"
</h1>

<hr>

{% if noticias %}

<div class="grid-noticias">

{% for noticia in noticias %}

    <div class="card-noticia">

        {% if noticia.imagem %}

        <img
            src="{{ url_for('static', filename='uploads/' + noticia.imagem) }}"
            class="imagem-card">

        {% endif %}

        <span class="categoria">
            {{ noticia.categoria }}
        </span>

        <h2>
            <a href="/noticia/{{ noticia.slug }}">
                {{ noticia.titulo }}
            </a>
        </h2>

        <p>
            {{ noticia.subtitulo }}
        </p>

    </div>

{% endfor %}

</div>

{% else %}

<p>
    Nenhuma notícia encontrada.
</p>

{% endif %}

{% endblock %}